@import '_variables.scss';

button, select, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"], input[type="text"], input[type="password"], textarea{
  font-size: 14px !important;
  border-radius: 12px !important;
}

.bx--text-input__field-wrapper {
  width: 100%;
}
.bx--row {
  margin-top: $spacing-05;
}

.bx--row-06 {
  margin-top: $spacing-07;
}

.bx--row-no {
  margin-top: 0;
}

.bx--btn {
  font-size: 14px !important;
  min-height: 2.4rem !important;
  max-width: 8em !important;
}

.bx--btn--primary {
  height: 32px;
  color: $bkg-color !important;
  background-color: $primary-color !important;
  border: 1px solid $primary-color !important;
  box-sizing: border-box;
  border-radius: 12px;
  padding-left: 8% !important;
  line-height: .4em !important;
}

.bx--btn--secondary{
  color: $primary-color !important;
  background-color: transparent !important;
  border: 1px solid $primary-color !important;
}

.bx--link, .bx--link:visited{
  color: #054ADA !important;
  padding-left: .4em;
}

.bx--modal-content {
  width: 95%;
}
.bx--text-area__wrapper {
  width: 100%;
}

.container-template {
  .bx--toast-notification--error {
    border-left: 2px solid $primary-color;
  }
  .bx--toast-notification {
    background-color:$bkg-color;
    margin-top: 0px;
    height: 18vh;
    width: 40%;
    // min-height: 4.5rem;
  }
  .bx--toast-notification:first-child {
    margin-top: 0px;
  }

  .bx--toast-notification__caption {
    visibility: hidden;
  }
  .bx--toast-notification__icon {
    visibility: hidden;
  }

  .bx--toast-notification__title {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    letter-spacing: 0.16px;
    color: $pri-txt-color;
  }
  .bx--toast-notification__subtitle {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    letter-spacing: 0.16px;
    color: $pri-txt-color;
  }

  .bx--toast-notification__close-button {
    .bx--toast-notification__close-icon {
      fill: $pri-txt-color;
    }
  }
}

.bx--modal-footer button.bx--btn {
  max-width: 40% !important;
  flex: 1 1;
  height: 40px !important;
  margin: auto !important;
  border-radius: 12px !important;
  padding: 8px 14% !important;
  text-align: center !important;

  &--danger{
    padding: 6px 10.8% !important;
    line-height: 14px !important;
    color: #DD2113 !important;
    background-color: transparent !important;
    border: 1px solid #DD2113 !important;
  }
}

 .bx--modal-footer{
    background-color: transparent !important;
 }

@media screen and (max-width: 600px) {
  .container-template {
    .bx--toast-notification {
      background: rgba($bkg-color,.92);
      margin-top: 0px;
      height: 14vh;
      width: 100%;
      // min-height: 4.5rem;
    }
  }
}
