@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600&display=swap");

$top: 50px;
$bottom: 50px;

$tileb: 1px grey dashed;
$tilew: 350px;
$tileh: 200px;

$singlew: 70vw;
$singleh: 200px;

$tile-padding: 5px;
$tile-margin: 10px;
