@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600&display=swap");

$top: 50px;
$bottom: 50px;

$ibm-font: "IBM Plex Sans", sans-serif;
$bkg-color: #ffffff;

$pri-txt-color: #171717;
$sec-txt-color: #565656;
$btn-cell-txt: #054ada;

$primary-color: #0062ff;
$secondary-color: #c9deff;
// $third-color : #5EBFC2;

$background-img: url("../img/first-bkg.png");

$px-from-border: 2em;

$grey-txt: #565656;

$black: #252525;
$blue: #051243;
$lightblue: #418cff;
$white: #ffffff;

$footer-height: 7vh;
