@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600&display=swap");

$top: 50px;
$bottom: 35px;
$general-width: 90vw;

$tileb: 1px grey dashed;
$tilew: 40vw;
$tileh: 350px;

$bradius: 0.8rem;

$singlew: 80vw;
$singleh: 350px;

$tile-padding: 15px;
$tile-margin: 15px;

$avatarh: 80px;
$avatarw: 80px;
