@import '@carbon/type/scss/type';
@import 'variables.scss';

button {
  border:none;
}

.container-bform {
  padding-top: 1em;

  .title {
    @include carbon--type-style('productive-heading-04');
    font-size: 1.64rem;
    line-height: 2rem;
  }

  .custom-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .custom-btn-cell {
      height: 48px;
      padding: 8px;
      width: 100%;
    }
  }

  .custom-btn {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: $secondary-color;
    color: $btn-cell-txt;
    border-radius: 8px;
    font-family: IBM Plex Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.38px;
  }

  .custom-btn:focus {
    outline: 0;
  }

  .custom-btn:hover {
    // border: 2px solid red;
    opacity: 0.8;
  }

  .custom-btn:active {
    border: 2px solid rgba($primary-color,.68);
  }

  .custom-btn:disabled {
    background: #F3F3F3;
    color: #A9AFB4;
    // border: 2px solid darkgrey;
  }

  .custom-btn-selected {
    border: 2px solid $primary-color;
  }

  .content-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    .span {
      grid-column: 1/3;
    }
    .custom-btn-cell {
      height: 48px;
      padding: 8px;
      width: 100%;
    }
  }

  .label {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    letter-spacing: 0.16px;
    color: #171717;
  }

  .booking-btn {
    padding: 8px;
    height: 40px;
    width: 60%;
    background: $primary-color;
    border-radius: 12px;
    text-align: center;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 137% */
    text-align: center;
    color: $white;
    margin: 0 20% 18px;
  }

  .padding-bot{
    padding-bottom: 2em;
  }
}
