@import 'node_modules/carbon-components/scss/globals/scss/vars.scss';
@import '@carbon/type/scss/type';
@import 'overrides.scss';
@import 'variables.scss';
@import 'extends.scss';

.mybookings-container {
  background-color: $bkg-color;
  padding: 0.48em 1em;
  margin: 0 auto;

  .mybookings-title {
    @include carbon--type-style('heading-01');
    display: inline-block;
    line-height: 2em;
    color: #565656;
  }

  .map {
    display: flex;
    width: 100%;
    justify-content: center;
    background: none;
    border: none;
    color: $primary-color;
    margin: 16px 0px 24px 0px;
  }

  .when {
    display: block;
    @include carbon--type-style('body-short-01');
    color: $grey-txt;
    padding: 0.4em 0 0.2em;
  }

  .office {
    display: block;
    @include carbon--type-style('body-short-01');
    padding-bottom: 0.4em;
  }

  .cancel {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    color: #da1e28;
    padding: 0.8em 0 0;
  }

  .link {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    letter-spacing: 0.16px;
    color: $primary-color;
  }

  .btn-arrived {
    background: rgba($primary-color,.08);
    border-radius: 2px !important;
    font-size: 14px;
    color: rgba($primary-color,.94);
    text-align: center;
    line-height: 16px;
    padding: 8px 10px;
    margin-left: -4px !important;
    margin-bottom: 8px;
    cursor: pointer;
  }

}
