.counter__container {
  display: flex;
  flex-direction: column;
  // border: 1px blue solid;
  font-size: 20rem;
  word-break: break-all;
  margin: auto;
  text-align: center;
  // text-decoration: underline;
  // text-decoration-color: #1e90ff;
  border-bottom: 0.5vw #1e90ff solid;
  border-bottom-right-radius: 5%;
  // height: 100%;
  margin: 20px;
  width: 40vw;

  .counter__helper {
    font-size: 1rem;
    margin: 0;
    color: darkgray;
    text-decoration: none !important;
  }
}

.counter__container::before {
  content: "dia";
  font-size: 0.1em;
  text-align: left;
  text-decoration: none !important;
  text-decoration-color: lightgrey;
  color: lightgrey;
}

@media (max-width: 1200px) {
  .counter__container {
    font-size: 10rem;
  }
}

@media (max-width: 600px) {
  .counter__container {
    font-size: 6rem;
  }
}

// @media (min-width: 280px) {
//   .counter__container {
//     font-size: 16rem;
//   }
// }

// @media (min-width: 330px) {
//   .counter__container {
//     font-size: 16rem;
//   }
// }

// @media (min-width: 400px) {
//   .counter__container {
//     font-size: 16rem;
//   }
// }

// @media (min-height: 700px) {
//   .counter__container {
//     font-size: 16rem;
//   }
// }

// @media (min-height: 700px) and (orientation: landscape) {
//   .counter__container {
//     font-size: 16rem;
//   }
// }

// /* iPhone 6 Plus portrait */
// @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
//   .counter__container {
//     font-size: 16rem;
//   }
// }
