@import '_variables.scss';

.base-divisor {
  width: 100%;
  background-size: cover;
  z-index: -10;
}

.container-divisor {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;

  .divisor1 {
    @extend .base-divisor;
    background-image: url('../img/divisor1.svg');
    width: 100%;
    height: 14px;
  }
  .divisor2a {
    @extend .base-divisor;
    background-image: url('../img/divisor2.png');
    height: 100px;
  }
  .divisor2b {
    width: 100%;
  }

  .comment {
    margin: 0 0 1.2em 1.2em;
    &:hover {
      text-decoration: underline !important;
    }
  }

  .bx--modal-content {
    width: 95%;
    .bx--form-item {
      .bx--form__helper-text,
      .bx--label {
        margin-top: 1rem;
      }
    }
    .bx--text-area__wrapper > textarea {
      background-color: $bkg-color;
      width: 100%;
    }
  }

  .link {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    letter-spacing: 0.16px;
    margin: 0px 0px 16px 16px;
  }

  .textarea-issues {
    background: $bkg-color;
  }
}

@media screen and (max-width: 600px) {
  .container-divisor {
    .divisor2b {
      width: 100%;
      visibility: unset;
      z-index: 100;
    }
  }
}
