@import "variables.scss";
@import "extends.scss";
@import "overrides.scss";

.home__container {
  // margin-top: 25px;
  // width: 90vw;

  // margin-left: auto;
  // margin-right: auto;
  // margin-bottom: 40px;
  // margin-top: 50px;

  // border: 0.5px gray dashed;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-overflow-scrolling: auto;
  // overflow-x: auto;
}

.centered {
  position: fixed;
  top: 45%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
