@import "variables.scss";
@import "extends.scss";
@import "overrides.scss";

.home__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-overflow-scrolling: auto;
  height: 70vh;
  width: 80vw;

  &-day {
    display: flex;
    justify-content: center;
    border: outset;
    margin: 50px;
    // margin: auto;
    width: 100%;
    // flex-wrap:
    // background-color: lime;
    // border: 1px pink solid;
  }
}

.centered {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

@media (max-width: 1200px) {
  .home__container {
    &-day {
      margin: 20px;
    }
  }
}
@media (max-width: 800px) {
  .home__container {
    &-day {
      flex-direction: column;
      border: outset;
      margin: 10px;
    }
  }
}
