.quote__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  margin: 20px;
  padding: 25px 45px 25px 25px;
  //   border: 1px blue solid;
  //   margin: auto;

  &-date {
    color: darkgray;
    font-size: 1.5rem;
  }

  &-text {
    text-align: center;
    font-style: italic;
    word-wrap: break-word;
    font-size: 2rem;
  }

  &-author {
    font-size: 1.5rem;
    font-style: oblique;
    color: rgb(33, 72, 228);
  }
  &-link {
    display: flex;
    align-items: center;
    font-size: medium;
    padding: 2px;

    &-src {
      text-decoration: none;
      font-style: oblique;
    }
    &-src::before {
      content: "🔗";
    }
    &-twitter {
      text-decoration: none;
      font-style: oblique;
      margin-left: 2rem;
    }
    &-twitter::before {
      content: "@";
    }
  }
  &-subtitle {
    font-size: 1rem;
    padding: 2px;
    text-align: left;
  }

  .quote__helper {
    font-size: 1rem;
    margin: 0;
    color: darkgray;
    text-decoration: none !important;
  }
}

@media (max-width: 1200px) {
  .quote__container {
    margin: 0px;
    &-date {
      font-size: 1rem;
    }
    &-text {
      font-size: 1rem;
    }
    &-author {
      font-size: 1rem;
    }

    &-link {
      font-size: 0.8rem;
    }
    &-subtitle {
      font-size: 0.8rem;
    }
  }
}
@media (max-width: 600px) {
  .quote__container {
    &-date {
      font-size: 1rem;
    }
    &-text {
      font-size: 1.2rem;
    }
    &-author {
      font-size: 1rem;
    }

    &-link {
      font-size: 0.8rem;
    }
    &-subtitle {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 400px) {
  .quote__container {
    &-subtitle {
      font-size: 0.7rem;
      text-align: left;
    }
    &-link {
      padding: 0px;
      &-src::before {
        content: "";
      }
      &-twitter::before {
        content: "@";
      }
    }
    .loader {
      width: 100%;
    }
  }
}
