.quote__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  margin: 20px;
  padding: 25px 45px 25px 25px;
  //   border: 1px blue solid;
  //   margin: auto;

  &-date {
    color: darkgray;
    font-size: 1.5rem;
  }

  &-text {
    font-style: italic;
    word-wrap: break-word;
    font-size: 2rem;
  }

  &-author {
    font-size: 1.5rem;
    font-style: oblique;
    color: rgb(33, 72, 228);
  }
  &-link {
    font-size: 1.2rem;
    padding: 2px;
  }
  &-subtitle {
    font-size: 1rem;
    padding: 2px;
  }

  .quote__helper {
    font-size: 1rem;
    margin: 0;
    color: darkgray;
    text-decoration: none !important;
  }
}

@media (max-width: 800px) {
  .quote__container {
    font-size: 16rem;
  }
}

// @media (min-width: 280px) {
//   .quote__container {
//     font-size: 16rem;
//   }
// }

// @media (min-width: 330px) {
//   .quote__container {
//     font-size: 16rem;
//   }
// }

// @media (min-width: 400px) {
//   .quote__container {
//     font-size: 16rem;
//   }
// }

// @media (min-height: 700px) {
//   .quote__container {
//     font-size: 16rem;
//   }
// }

// @media (min-height: 700px) and (orientation: landscape) {
//   .quote__container {
//     font-size: 16rem;
//   }
// }

// /* iPhone 6 Plus portrait */
// @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
//   .quote__container {
//     font-size: 16rem;
//   }
// }
