@import "variables.scss";
@import "extends.scss";

.container-singles {
  > div * {
    margin-bottom: 5px;
  }

  padding: $tile-padding;
  width: $tilew * 2.1;
  margin: 10px auto;
  background-color: lightskyblue;

  .gridtile {
    display: grid;
    grid-template-columns: $avatar-maxw 1fr;

    .fecha {
      @extend .fecha;
    }
    .avatar {
      grid-row: 2/4;
      display: flex;
      > img {
        border-radius: 50%;
        display: block;
        max-width: $avatar-maxw;
        max-height: 95px;
        width: auto;
        height: auto;
      }
    }
    .title {
      @extend .title;
    }
    .subtitle {
      @extend .subtitle;
    }
    .player {
      grid-column: 1/3;
      justify-self: center;
    }
    .text {
      @extend .text;
      font-size: 1.5em;
    }
    .links {
      @extend .links;
    }
  }

  .tags {
    padding: 5px;
    background-color: cyan;
    border: 1px cyan solid;
    border-radius: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .container-doubles {
    .tile {
      padding: $tile-padding;
      width: 100vw;

      .gridtile {
        .fecha {
        }
        .avatar {
        }
        .avatar > img {
        }
        .title {
          font-size: 1.5em;
        }
        .subtitle {
          font-size: 0.8em;
        }
        .player {
        }
        .text {
        }
        .links {
        }
      }
    }
  }
}
