@import "variables.scss";

.container-singles {
  display: flex;
  height: $singleh;
  width: $singlew;
  border: 1px blue solid;
  border-radius: $bradius;
  padding: $tile-padding;

  margin: 10px auto;
  text-align: center;
}
